spring:
  application:
    name: requests
  cloud:
    consul:
      enabled: false
      config:
        enabled: false
  liquibase:
    change-log: classpath:db/changelog/master.xml
    enabled: true
    url: jdbc:h2:mem:requests;DB_CLOSE_DELAY=-1
    user: requests
    password:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9080/auth/realms/REALM

artemis-jms:
  url: tcp://localhost:61616
  clientId: UNIQUE_CLIENT_ID